<section id="content">
  <h2 class="subheader">{{ title }}</h2>
  <h3>{{ subtitle }}</h3>
  <hr />
  <h4 @click="actualizarName()">Reactividad</h4>
  <input type="text" v-model="name" />
  {{ name }}
  <h2>Directivas condicionales</h2>
  <input type="number" v-model="edad" />
  la edad es:
  <strong>{{ edad }}</strong>

  <p :class="edad >= 18 ? 'success' : 'danger'">
    {{ edad >= 18 ? "es mayor de edad" : "es menor de edad " }}
  </p>

  <h2>Directiva iterativa</h2>
  <ol>
    <li v-for="fruta of frutas" :key="fruta">{{fruta}}</li>
  </ol>
</section>
